.dotfiles/*
.wine/*
.w3m/*
.swt/*
.steam/*
.rustup/*
.pki/*
.omnisharp/*
.nv/*
.nuget/*
.mozilla/*
.java/*
.icons/*
.gnupg/*
.fltk/*
.eclipse/*
.dotnet/*
.cert/*
.cargo/*
.cache/*
Desktop/*
Downloads/*
go/*
Music/*
Public/*
Templates/*
Videos/*
VirtualBox\ VMs/*
windows/*
.config/BraveSoftware/Brave-Browser/*
.config/yandex-music-player/*
.config/skypeforlinux/*
.config/obs-studio/*
.config/libreoffice/*
.config/VirtualBox/*
.config/fcast-receiver/*
.config/discord/*
.config/GIMP/*
.local/*
.themes/Default/*
Documents/*
!Documents/git/StartPage/*
!Documents/VPN
Documents/VPN/nlmk

