.dotfiles/*
.wine/*
.w3m/*
.swt/*
.steam/*
.rustup/*
.pki/*
.omnisharp/*
.nv/*
.nuget/*
.mozilla/*
.java/*
.icons/*
.gnupg/*
.fltk/*
.eclipse/*
.dotnet/*
.cert/*
.cargo/*
.cache/*
Desktop/*
.bins/wallpaperpath
Downloads/*
go/*
Music/*
Public/*
Templates/*
Videos/*
VirtualBox\ VMs/*
windows/*
.config/BraveSoftware/Brave-Browser/*
.config/yandex-music-player/*
.config/skypeforlinux/*
.config/obs-studio/*
.config/libreoffice/*
.config/VirtualBox/*
.config/fcast-receiver/*
.config/discord/*
.config/GIMP/*
.config/gtk-2.0/*
.config/gtk-3.0/*
.config/gtk-4.0/*
.config/qt5ct/*
.config/qt6ct/*
.local/*
!.local/share
.local/share/*
!.local/share/rofi
.themes/Default/*
Documents/*
!Documents/git/
Documents/git/*
!Documents/git/StartPage/
!Documents/VPN
Documents/VPN/nlmk
.ssh
.themes/*

.config/.semgrep/semgrep.log
.config/.semgrep/settings.yml
.config/QtProject.conf
.config/StardewValley/Saves/littlehouse_328125192/SaveGameInfo
.config/StardewValley/Saves/littlehouse_328125192/SaveGameInfo_old
.config/StardewValley/Saves/littlehouse_328125192/littlehouse_328125192
.config/StardewValley/Saves/littlehouse_328125192/littlehouse_328125192_old
.config/alacritty/alacritty1.yml
.config/bpytop/bpytop.conf
.config/bpytop/error.log
.config/calcurse/conf
.config/calcurse/keys
.config/cava/config
.config/cava/shaders/bar_spectrum.frag
.config/cava/shaders/northern_lights.frag
.config/cava/shaders/pass_through.vert
.config/cef_user_data/Dictionaries/en-US-9-0.bdic
.config/chezmoi/chezmoistate.boltdb
.config/dconf/user
.config/discord-screenaudio/discord-screenaudio.conf
.config/gtkcord4/prefs.json
.config/gtkcord4/secrets/.hash
.config/gtkcord4/secrets/.salt
.config/gtkcord4/secrets/YWNjb3VudA
.config/htop/htoprc
.config/hypr/hyprpaper.conf
.config/kdeconnect/25b3903ceef99e5e/config
.config/kdeconnect/certificate.pem
.config/kdeconnect/config
.config/kdeconnect/privateKey.pem
.config/kdeconnect/trusted_devices
.config/kwalletrc
.config/lazygit/config.yml
.config/lazygit/lazygit/config.yml
.config/lazygit/lazygit/state.yml
.config/lazygit/state.yml
.config/libfm/libfm.conf
.config/lutris/lutris.conf
.config/menus/applications-merged/user-chrome-apps.menu
.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
.config/mimeapps.list
.config/mpv/mpv.conf
.config/neofetch/config.conf
.config/networkmanager-dmenu/config.ini.example
.config/openrazer/persistence.conf
.config/openrazer/razer.conf
.config/pcmanfm/default/pcmanfm.conf
.config/presets/user/pywal.json
.config/pulse/cookie
.config/qalculate/qalc.cfg
.config/qalculate/qalc.history
.config/ranger/__pycache__/devicons.cpython-310.pyc
.config/ranger/__pycache__/devicons.cpython-311.opt-1.pyc
.config/ranger/__pycache__/devicons.cpython-311.pyc
.config/ranger/__pycache__/devicons.cpython-39.opt-1.pyc
.config/ranger/plugins/__init__.py
.config/ranger/plugins/__pycache__/__init__.cpython-310.pyc
.config/ranger/plugins/__pycache__/__init__.cpython-311.opt-1.pyc
.config/ranger/plugins/__pycache__/__init__.cpython-311.pyc
.config/ranger/plugins/__pycache__/__init__.cpython-39.opt-1.pyc
.config/ranger/plugins/__pycache__/devicons_linemode.cpython-310.pyc
.config/ranger/plugins/__pycache__/devicons_linemode.cpython-311.opt-1.pyc
.config/ranger/plugins/__pycache__/devicons_linemode.cpython-311.pyc
.config/ranger/plugins/__pycache__/devicons_linemode.cpython-39.opt-1.pyc
.config/ranger/plugins/devicons_linemode.py
.config/razercommander/macro_logic.json
.config/razergenie/RazerGenie.conf
.config/rncbc.org/qpwgraph.conf
.config/solaar/config.yaml
.config/solaar/rules.yaml
.config/unity3d/Team17/Overcooked/76561198417105349/steam_autocloud.vdf
.config/unity3d/jgallant/Picross Touch/Player.log
.config/unity3d/jgallant/Picross Touch/Unity/local.9b60b2dfa7c570b4f871fb5f1e5c50cd/Analytics/config
.config/unity3d/jgallant/Picross Touch/prefs
.config/user-dirs.dirs
.config/user-dirs.locale
.config/wal/templates/colors-steam.css
.fehbg
.git-credentials
.gitconfig
.npmrc
.ssh/id_rsa
.ssh/known_hosts.old
.steampath
.steampid
.zcompdump
.zhistory
.zsh/cache/SYS_ALL_UNITS--system
.zsh/cache/SYS_ALL_UNITS--user
.zsh/cache/SYS_REALLY_ALL_UNITS--system
.zsh/cache/SYS_REALLY_ALL_UNITS--user
