/home/obey/.wine/*
/home/obey/.w3m/*
/home/obey/.swt/*
/home/obey/.steam/*
/home/obey/.rustup/*
/home/obey/.pki/*
/home/obey/.omnisharp/*
/home/obey/.nv/*
/home/obey/.nuget/*
/home/obey/.mozilla/*
/home/obey/.java/*
/home/obey/.icons/*
/home/obey/.gnupg/*
/home/obey/.fltk/*
/home/obey/.eclipse/*
/home/obey/.dotnet/*
/home/obey/.cert/*
/home/obey/.cargo/*
/home/obey/.cache/*
/home/obey/Desktop/*
/home/obey/Downloads/*
/home/obey/go/*
/home/obey/Music/*
/home/obey/Public/*
/home/obey/Templates/*
/home/obey/Videos/*
/home/obey/VirtualBox\ VMs/*
/home/obey/windows/*

